// #ProfileImage {
//   //   background-image: url("../images/Profile-2.jpg");
//   width: 100vw;
//   //   height: 100px;
//   padding-top: 8svmin;
//   img {
//     object-fit: cover;
//     width: 100vw;
//   }
// }

#ProfileContainer {
  padding-top: 8vmin;
  color: color(light-grey);
  text-align: justify;
  h1,
  div {
    padding: 0 20vmin;
  }
  p {
    font-size: 1.1em;
  }
}
