.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 10vmin;
  height: 100%;
  // list-style-type: none;
  // margin: 0;
}

.post {
  // margin: 1rem 0;
  list-style: none;
  width: 40vmin;
  // height: 40vmin;
  display: block;
  padding: 1em;
  text-decoration: none;
  background: linear-gradient(
    to bottom right,
    color(dark-pink),
    lighten(color(light-pink), 20%)
  );
  &:hover {
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
  }

  a {
    color: color(dark-blue);
  }
  h2 {
    margin-bottom: 0;
    // color: color(dark-yellow);
  }
  p {
    color: color(dark-blue);
    font-size: 0.8rem;
    font-style: italic;
  }
}

// @keyframes scale {
//   0% {
//     transform: scale(1);
//   }
// }
