.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 10vmin;
  // list-style-type: none;
  // margin: 0;
}

.post {
  // margin: 1rem 0;
  list-style: none;
  width: 35vmin;
  // height: 40vmin;
  display: block;
  padding: 1em;
  text-decoration: none;
  background: linear-gradient(
    to bottom right,
    color(dark-pink),
    lighten(color(light-pink), 20%)
  );
  &:hover {
    // transform: scale(1.01);
    // transition: 0.2s ease-in-out;
    box-shadow: 0 2px 6px 0 color(dark-blue), 0 4px 10px 0 color(dark-blue);
  }

  a {
    color: color(dark-blue);
  }
  h2 {
    margin-bottom: 0;
    // color: color(dark-yellow);
  }
  p {
    color: color(dark-blue);
    font-size: 0.8rem;
    font-style: italic;
  }

  ul.post-tags {
    padding: 0;
    display: inline-flex;
    list-style: none;
    li {
      margin-right: 10px;
      Link {
        color: color(dark-pink);
      }
    }
  }
}

// @keyframes scale {
//   0% {
//     transform: scale(1);
//   }
// }

#PostContent {
  padding-top: 8vmin;
  color: color(light-grey);
  text-align: justify;

  h1 {
    padding: 3vmin 20vmin;
    color: color(dark-yellow);
  }
  div {
    padding: 0 20vmin;
  }
  p {
    font-size: 1.1em;
  }

  // img {
  //   padding: 0;
  //   margin: 0;
  //   width: 100%;
  // }
}
